@font-face {
  font-family: "Overpass";
  src: url("./static/Overpass-Regular.ttf") format(truetype);
  font-style: regular;
}
* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Overpass";
  --bg: hsl(216, 12%, 8%);
  --bg-component: hsl(213, 19%, 18%);
  --fg-main: hsl(0, 0%, 100%);
  --grey: hsl(217, 12%, 63%);
  --active-state: hsl(25, 97%, 53%);
  --gradient-one: radial-gradient(
    circle at top,
    var(--bg-component),
    var(--bg)
  );
}

body {
  background: var(--bg);
}

.container {
  display: grid;
  margin-inline: auto;
  gap: 20px;
  width: 450px;
  max-width: 350px;
  margin-top: 35vh;
  padding: 2em;
  background: var(--gradient-one);
  border-radius: 14px;
}

.container__btn {
  display: flex;
  justify-content: space-between;
}
.container__thank-you {
  justify-items: center;
  gap: 2em;
}
.btn {
  background-color: var(--bg-component);
  color: var(--grey);
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border-style: none;
  padding: 0.5em;
  font-size: 1rem;
}

.btn:hover,
.btn-submit:hover {
  background-color: var(--grey);
  color: var(--bg);
  cursor: pointer;
}
.btn:active {
  background-color: var(--active-state);
}
.btn-submit {
  background-color: var(--active-state);
  color: var(--bg-component);
  font-weight: 600;
  border-radius: 16px;
  border-style: none;
  font-size: 1rem;
  padding: 0.5em;
}
.thank-you-text {
  display: grid;
  text-align: center;
  gap: 0.5em;

  &.thank-you-text > h1 {
    color: var(--fg-main);
  }
  &.thank-you-text > p {
    color: var(--grey);
  }
}

.out-of {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-height: 5px;
  padding: 0.85em;
  border-radius: 2em;
  background-color: var(--bg);
  color: var(--active-state);
}
.selected {
  background-color: var(--active-state);
  color: var(--bg);
}
.heading {
  color: var(--fg-main);
}
.container > p {
  color: var(--grey);
}

.image-star {
  background-color: var(--bg-component);
  border-radius: 50%;
  padding: 16px;
  width: 20px;
  height: 20px;
}

.hidden {
  padding: 0;
  margin: 0;
  display: none;
  visibility: hidden;
}
